@import "bootstrap";

h1 {
	text-align: center;
}


#search-form {
	position: absolute;
	top: 20%;
	width: 100%;
	text-align: center;
}

.search-question {
	font-size: 30pt;
	display: inline;
}

#search-input {
	height: 1.1em;
	position: relative;
	top: -6px;
	font-family: Helvetica;
	font-size: 30pt;
	border-radius: 0px;

	border-color: white white gray white;
	border-style: dotted;

}

input:focus {
	outline: none;
	outline-width: none;
}

::-webkit-input-placeholder,
input:-moz-placeholder { 
	color: red; 
}