// Place all the styles related to the Dealer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#results {
	line-height: 76px;
	font-size: 70px;
	margin:	50px;
}
