<%= form_tag root_path, method: 'post', remote: true, id: "search-form" do %>
	<%= label_tag(:term, "howbigadeal.is/", class: "search-question") %>
	<%= text_field_tag :term, params[:search], id: "search-input", placeholder: @term %>
	<span class="search-question">?<span>
<% end %>
<div id="results"><%= render 'layouts/results.html.erb' %></div>



